# Datenbank grpc
GRPC_DB_PORT=5432
GRPC_DB_USERNAME=kunde
GRPC_DB_PASSWORD=p
GRPC_DB_NAME=grpc
GRPC_DB_CLEAN=true
GRPC_DB_URL=jdbc:postgresql://localhost:5432/grpc

# gRPC
GRPC_HOST=localhost
GRPC_PORT=50051

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=kunde
RABBITMQ_PASSWORD=p
RABBITMQ_QUEUE_NAME=zahlungsauftraege

# Datenbank zahlungssystem
ZAHLUNGSSYSTEM_DB_PORT=5433
ZAHLUNGSSYSTEM_DB_USERNAME=kunde
ZAHLUNGSSYSTEM_DB_PASSWORD=p
ZAHLUNGSSYSTEM_DB_NAME=zahlungssystem
ZAHLUNGSSYSTEM_DB_CLEAN=true
ZAHLUNGSSYSTEM_DB_URL=jdbc:postgresql://localhost:5433/zahlungssystem

